{{> head}}

  {{> navbar}}

  <div style="margin: 0;" class="row">
    <div class="col-sm-8">
      <h1>Ragnar Lodbrok</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo repudiandae id animi nulla unde consequatur quo quibusdam, voluptatum, iusto veritatis exercitationem? Nam aliquid recusandae odio aut, ab sapiente neque nulla.</p>
    </div>
    <div class="col-sm-4">
      <img class="img-thumbnail" src="./assets/img/ragnar.jpg" alt="">
    </div>
  </div>

{{> footer}}
